Source: wb-homa-rfsniffer
Maintainer: Yuri Pechatnov <yuri.pechatnov@gmail.com>
Section: misc
Priority: optional
Standards-Version: 1.0.0
Build-Depends: debhelper (>= 9), dh-autoreconf, dh-exec, python, pkg-config, g++, libjsoncpp-dev, libmosquittopp-dev, libmosquitto-dev, libwbmqtt-dev (>= 1.3.2), libdw-dev

Package: wb-homa-rfsniffer
Architecture: any
Depends: ${shlibs:Depend}, ${misc:Depends}, libjsoncpp0, libmosquittopp1, libmosquitto1, ucf, libwbmqtt  (>= 1.3.2)
Conflicts: wb-homa-ism-radio
Breaks: 
Description: Wiren Board RFM69 driver 
 Wiren Board Smart Home MQTT RFM69 driver 
 (compatible with HomA conventions)
 Based on https://github.com/avp-avp/rfsniffer
