#!/usr/bin/make -f

%:
	dh $@ --with autoreconf --parallel

override_dh_autoreconf:
	dh_autoreconf --as-needed

DEB_HOST_MULTIARCH  ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

override_dh_auto_configure:
	./configs/generate_configs.py --directory configs/ --generate
	dh_auto_configure -- --enable-static --enable-plugins --enable-doxygen

#override_dh_auto_install:
#dh_auto_install

override_dh_auto_test:
	dh_auto_test -O--parallel
	echo -en "\033[33;1;40m" \
	    "==============================================\n" \
        "> See gprof report in tests/gprof_report.log  \n" \
	    "==============================================\n" \
	    "\033[0m"


override_dh_link:
	dh_link

override_dh_clean:
	rm -vf *.log
	rm -vf compile
	rm -vf haconfig.inc
	rm -vf test-driver
	rm -vfr m4
	./configs/generate_configs.py --directory configs/ --clean
	dh_autoreconf_clean
	dh_clean

override_dh_makeshlibs:
	dh_makeshlibs -V
